/* paleta de colores*/ 
:root{

    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;



}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* cuerpo del html*/
body{
    font-family: 'Krub', sans-serif;
    font-size: 16px;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}

/* titulo span*/
.titulo span{
    font-size: 2rem;
}

/* clase contenedor*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    
}
@media (min-width: 768px){
/*clase navegador*/
    .nav-bg{
        background-color: var(--secundario);
    }
}

/*clase del navegador principal*/
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media(min-width: 480px) {
    
}

@media(min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 1140px) {
    
}

/* Etiqueta del navegador principal*/
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Css para la imagen del index, con ID */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color:rgba(0,0,0,.7); /** Anterior **/
    background-color: rgba(0 0 0 / 70% );
    width: 100%;
    height: 100%;

    /** Alinear horizontal y verticalmente **/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p {

    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}