/* paleta de colores*/ 
:root{

    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;



}

html{
    font-size: 62.5%;
}

/* cuerpo del html*/
body{
    font-family: 'Krub', sans-serif;
    font-size: 16px;
}

/*titulo css */
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
/* titulo span*/
.titulo span{
    font-size: 2rem;
}

/* clase contenedor*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/*clase navegador*/
.nav-bg{
    background-color: var(--secundario);
}

/*clase del navegador principal*/
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media(min-width: 480px) {
    
}

@media(min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 1140px) {
    
}

/* Etiqueta del navegador principal*/
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

